<!--The content below is only a placeholder and can be replaced.-->

<!--<mat-toolbar color="primary" class="fixed-header">
  <mat-toolbar-row>
    <span></span>
    <span class="example-fill-remaining-space"></span>
    <div class="example-button-row" layout-align="end-start">
      <button mat-raised-button color="accent" routerLink="/orgs">Organizations</button>
      <button mat-raised-button routerLink="/blocks">Blocks</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>-->
<div class="loginDiv">
  <mat-toolbar color="primary">
    <span>BFT LOC</span>
  </mat-toolbar>
  <form class="loc-login-form">
    <div>
      <mat-form-field class="full-width">
        <mat-label>Username</mat-label>
        <input  matInput  placeholder="Username" name="username">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input  matInput  placeholder="Password" name="password" type="password">
      </mat-form-field>
    </div>
    <div align="right"><button mat-raised-button (click)="login()" color="primary">LOGIN</button></div>
  </form>
</div>

<router-outlet></router-outlet>
